@model GymManager.Web.Models.MembershipListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>MembershipTypes</h1>
    <div class="row">
        <div class="col-6"><p>New members of week: @Model.NewMembershipCount</p></div>
        <div class="col-6">
            <a asp-action="Create" class="btn btn-outline-success float-end">Add MembershipType</a>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_MembershipTypeList.cshtml", Model.MembershipTypes)
</div>