@model GymManager.Web.Models.MembershipListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Hola></h1>
    @await Html.PartialAsync("~/Views/Shared/_MembershipTypeList.cshtml", Model.MembershipTypes)
</div>